/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

textarea {
    width: 60%;
    height: 200px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-family: monospace;
    font-size: 14px;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

h2 {
    text-align: center;
    margin-top: 30px;
}

#feedback {
    margin: 20px auto;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 5px;
    font-family: 'Courier New', Courier, monospace;
    white-space: pre-wrap;
    max-width: 1000px; 
    width: 90%;
}


#feedback h2 {
    color: #ff4500;
}

#feedback code {
    background-color: #272822;
    color: #f8f8f2;
    padding: 2px 5px;
    border-radius: 3px;
}

#feedback pre {
    background-color: #272822;
    color: #f8f8f2;
    padding: 10px;
    border-radius: 5px;
    overflow: auto;
}


#loading {
    text-align: center;
    margin-top: 10px;
    color: #007bff;
    display: none;
}
